<h1>Listing expenses</h1>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Day of month</th>
        <th>Recurring</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @expenses) do |expense| %>
        <td><%= expense.name %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.day_of_month %></td>
        <td><%= expense.recurring %></td>
        <td><%= link_to 'Show', expense %></td>
      <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
      <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Expense', new_expense_path %>
